

 body {
  margin: 0;
  padding: 0;
  font-family: 'GmarketSans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'GmarketSans';
  font-weight: 300;
  font-style: normal;
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
}

@font-face {
  font-family: 'GmarketSans';
  font-weight: 500;
  font-style: normal;
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
}

@font-face {
  font-family: 'GmarketSans';
  font-weight: 700;
  font-style: normal;
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
}


 /* 1. 컨텐츠가 스크롤바에 밀리지 않고, 스크롤바가 화면 위에 떠오르게(Overlay) 설정 */
 html {
   overflow-y: auto;
     margin: 0;
     padding: 0;
 }

 /* 2. 스크롤바 전체 영역과 배경(Track)을 완전히 투명하게 설정 */
 ::-webkit-scrollbar {
   width: 8px !important;
   background-color: transparent !important; /* 스크롤바 배경 투명 */
 }

 ::-webkit-scrollbar-track {
   background-color: transparent !important; /* 트랙 배경 투명 */
   box-shadow: none !important; /* 혹시 모를 그림자 효과 제거 */
   border: none !important;
 }

 /* 3. 평소 스크롤바 막대기 숨김 */
 ::-webkit-scrollbar-thumb {
   background-color: transparent !important;
   border-radius: 10px !important;
 }

 /* 4. 스크롤할 때만 막대기 표시 */
 html.is-scrolling ::-webkit-scrollbar-thumb {
   background-color: rgba(0, 0, 0, 0.4) !important;
 }